<div class="cell">
    <div class="cell">
        <div class="row">
            <div class="input-caption">
                Adı : 
            </div>
            <div class="input-value">
                <input type="text" />
            </div>
        </div>
    </div>
    <div class="cell">
        <div class="row">
            <div class="input-caption">
                Soyadı : 
            </div>
            <div class="input-value">
                <input type="text" />
            </div>
        </div>
    </div> 
</div>

