@model elrincon.web.Models.Stok.HaliStok.HaliStokListeModel

@{
    ViewBag.Title = "EmptyView";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="body-content">
    <div class="row el_row" style="margin-left: 6px">
        <button class="button el-action-button ekle_button" id="showmodalID">Stok Ekle </button>
    </div>

    <div data-role="navview" data-expanded="fs" data-compact="false" data-role-navview="true" class="navview navview-expand-lg compacted js-compact">
        <div class="navview-pane importantWith">
            <button class="pull-button">
                <span class="default-icon-menu"></span>
                <span id="pull-icon-label"> <span style="margin-left: 25px">Sorgula</span>  </span>
            </button>

            <div class="query-inputs">
                @{Html.RenderPartial("~/Views/Stok/HaliStok/HaliStokQueryEditor.cshtml", @Model.HaliStokEditorModel);}
            </div>

            <div class="query-button" style="" align="right">
                <button class="el-action-button btn_hali_stok_bilgileri_sorgula"> Sorgula</button>
            </div>
        </div>
        <div style="height: 90%;width: 100%">
            @{Html.RenderPartial("~/Views/Shared/elGrid/ElDataGrid.cshtml", Model.GridModel);}
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.5.1.slim.js"></script>
<script>

    @*------şube değiştir. ---------------------*@
    function sube_degistir_hali_stok_listesi_cliced(id) {
        OpenEditormodal(id, 2);
    }

    @*------open editor ---------------------*@
    function edit_hali_stok_listesi_cliced(id) {
        OpenEditormodal(id, 1);
    }

    $("#showmodalID").on("click", function () {
        OpenEditormodal(0, 1);
    });

    function OpenEditormodal(id, tip) {
        $.ajax({
            url: '@Url.Action("Index","HaliStokEditor")',
            cash: false,
            data: {
                id,
                tip
            },
            beforeSend: function () {
                $("#loading").css("display", "block");
            },
            TYPE: 'GET',
            success: function(result) {
                openModal(result);
            }
        }).done(function () {
            $("#loading").css("display", "none");
        });
    }


    @*delete row*@

    function delete_hali_stok_listesi_cliced(id) {
        Metro.dialog.create({
            title: "Satır Sil",
            content: "<div>Kaydı silmek istediğinizden emin isiniz..</div>",
            actions: [
                {
                    caption: "Evet",
                    cls: "js-dialog-close alert",
                    onclick: function() {
                        DeleteRecord(id);
                    }
                },
                {
                    caption: "Hayır",
                    cls: "js-dialog-close",
                    onclick: function(){
                    }
                }
            ]
        });

    }

    function DeleteRecord(id) {
        $.ajax({
            url: '@Url.Action("DeleteRow","HaliStokListe")',
            cash: false,
            data: {
                id
            },
            TYPE: 'GET',
            success: function (result) {

                if (result.result == "ok") {
                    reloadGrid_hali_stok_liste_grid_id();

                    ShowAlertMessage("Başarılı", "İşlem başarıyla gerçekleşti","success");

                } else {
                    ShowAlertMessage("Hata", result.message, "alert");
                }
            }
        });
    }

    $(".btn_hali_stok_bilgileri_sorgula").on("click", function () {
        var parameter = crdfor_@(Model.GridModel.GridId)();

        parameter.CustomProperties.stok_no = $("#hali_editor_input_stok_for_query").val();
        parameter.CustomProperties.tarih = $("#hali_editor_input_tarih_for_query").val();
        parameter.CustomProperties.sube = $("#hali_editor_model_select_sube_id_for_query").val();
        parameter.CustomProperties.urun_cesidi = $("#hali_editor_model_select_urun_cesidi_for_query").val();
        parameter.CustomProperties.mensei = $("#hali_editor_model_select_mensei_for_query").val();
        parameter.CustomProperties.uretim_tipi = $("#hali_editor_model_select_uretim_tip_for_query").val();
        parameter.CustomProperties.material = $("#hali_editor_model_select_materyal_for_query").val();
        parameter.CustomProperties.satıcı = $("#hali_editor_model_select_satici_for_query").val();

        var data = {
            parameter:parameter
        }

        $.ajax({
            url: '@Url.Action("GetGridBody","HaliStokListe")',
            cash: false,
            type: "POST",
            data: data,
            success: function (result) {

                if (result != "") {
                    $("#grid-body_hali_stok_liste_grid_id").html(result);
                }

                else {
                    ShowAlertMessage("Hata", result.message, "alert");
                }
            }
        });
    });

</script>